/*Removes browser padding/margin/border box sizing*/
* {
    padding: 0;
    margin: 0;
    border: none;
}

/*For mobile display sizes*/

/*header styling*/

header {
    height: 25vh;
    width: 100vw;
    background: url("../images/girl_being_tutored_online.jpg") center / cover no-repeat;
}

#logo_container {
    
    
}

