/*imports google font stylesheet*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400&family=News+Cycle&family=Yantramanav:wght@300;400;500&display=swap');

/*Styling, to different degrees, common to all pages*/

/*Removes browser padding/margin/border box sizing*/
* {
    padding: 0;
    margin: 0;
    border: none;
}

/*For mobile display sizes in portrait orientation*/

/*auto overflow for the purpose of responsive design*/
html {
    overflow: auto;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: "News Cycle", sans-serif;
    font-weight: 400;
}

/*header styling*/

header {
    height: 25vh;
    width: 100%;
    background: url("../images/girl_being_tutored_online.jpg") center / cover no-repeat;
    position: relative;
    margin-bottom: 1px;
}

#logo_container {
    position: absolute;
    /*calculates the insets necessary for centering the box, effectively as a function of viewport size, which varies with orientation and screen size. 
    The absolute size being substracted is equal to approximately half the box width or height.*/
    top: calc(50% - 24px);
    left: calc(50% - 91px);
    /*Allows logo to be more visible, still allowing the background image to also be partially visible.*/
    background-color: rgb(1, 116, 141, 0.8);
    padding: 5px;
    border-radius: 15px;
    border: 3px solid #00bd9d;
    /*logo  expansion animation*/
    animation-name: logo_expand;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.38, 1.16);

}

#logo_container>h1 {
    font-family: "Barlow Semi Condensed", sans serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 0.8;
    color: #fffbfa;
}

/*On page loading, expands and contracts the logo and its container, and outlines with a border temporarily.*/
@keyframes logo_expand {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.3, 1.3);
        border: 3px solid #ffd24c;
    }

    100% {
        transform: scale(1, 1);
    }
}

/*Nav element styling*/

/*Creates a flexbox for the nav links*/
nav {
    background-color: #01748d;
    border: 2px solid #00bd9d;
    font-size: 0.7rem;
    font-weight: 300;
    font-family: "Barlow Semi Condensed", sans-serif;
    display: flex;
    flex-wrap: wrap;
    min-height: 5vh;
}

nav span {
    flex: 1 1 auto;
    text-align: center;
    margin: 0px 5px;
}

nav a {
    text-decoration: none;
    color: #fffbfa;
}

/*Provides user feedback by indicating what page they are currently on*/
.active {
    color: #000000;
    background-color: #49c6e5;
    border: 2px solid #00bd9d;
    border-radius: 15px;
    text-decoration: underline;
    text-decoration-color: #00bd9d;
    text-decoration-thickness: 3px;
}

/* main section stylng*/

main section {
    font-size: 0.8rem;
    margin: 5px 5px 5px 0px;
    padding-left: 10px;
}

main section h3 {
    text-align: center;
    border: 1px solid #00bd9d;
    margin-top: 3px;
    border-radius: 10px;
}

main section p {
    margin: 5px 5px 5px 0px;
    padding: 3px;
    text-align: justify;
    text-justify: inter-word;
}

main ul {
    margin: 7px 5px 7px 15px;
    padding: 0 3px;
    list-style-type: square;
    text-align: justify;
    text-justify: inter-word;
}

main li {
    margin: 10px 0;
}

main li a {
    color: inherit;
}

/*Styles the scroll down page arrow icon of the main section.*/
main section>a {
    text-align: center;
    display: block;
    font-size: larger;
    color: #00bd9d;
}



/*Creates a 2x2 grid layout for main content.*/

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2px;
    /*min-height used for the purpose of responsive design: keeps footer at the bottom of the page always.*/
    min-height: 50vh;
}

.first_column {
    grid-column-start: 1;
    grid-column-end: 2;
}

.second_column {
    grid-column-start: 2;
    grid-column-end: 3;
}

.first_row {
    grid-row-start: 1;
    grid-row-end: 2;
}

.second_row {
    grid-row-start: 2;
    grid-row-end: 3;
}

/*Adds space between main heading elements text and its font awesome icon*/
.fa-graduation-cap,
.fa-lightbulb,
.fa-chalkboard-user {
    margin-left: 4px;
    padding-top: 2px;
    color: #00bd9d;
}

/*Scales and positions the main picture/image element */

picture {
    width: 100%;
    max-height: 380px;
}

img {
    object-fit: contain;
    margin: 3px 0px 3px 3px;
    max-width: calc(90% - 3px);
    max-height: 330px;
    padding-top: 40px;
}

/*Footer styling*/

/*Setting footer dimensions, color, and font-size. Also creating a flexbox.*/

footer {
    min-height: 20vh;
    display: flex;
    background-color: #01748d;
    font-weight: 400;

}

footer div {
    font-size: 0.7rem;
    flex: 1 auto;
    padding: 4px;
    border: 1px solid #00bd9d;
    color: #fffbfa;
}

footer h4 {
    text-transform: uppercase;
    text-align: center;
}

/*Footer site map styling*/

footer ul {
    list-style: none;
    text-align: justify;
    text-justify: inter-word;
}

footer li {
    margin: 4px;
}

footer li a {
    text-decoration: underline;
    text-decoration-color: #00bd9d;
    color: inherit;
}

/*Styles the page up arrow in the site map of the footer.*/
.fa-arrow-circle-up {
    margin-left: 4px;
    color: #00bd9d;
}

/* Footer contact us styling*/

div address {
    line-height: 1.5;
}

/*Follow us, useful links footer section styling*/

.footer_external_links {
    text-align: center;
}

.footer_external_links a {
    line-height: 2;
    color: inherit;
    text-decoration-color: #00bd9d;
}

.footer_external_links i {
    color: #00bd9d;
}

address+.footer_external_links {
    border: none;
    margin-top: 6px;
    text-align: left;
}

/*Styling only for the application and booking form pages*/

fieldset {
    margin: 5px;
}

form,
fieldset {
    border: 2px solid #00bd9d;
}

input,
textarea {
    border: 1px solid #00bd9d;
}

fieldset ul {
    list-style: none;
    margin: 7px 5px;
}

fieldset li {
    margin: 0px;
}

fieldset>ul>li {
    display: inline-block;
}

[name="personal_details"] *,
[name^="subjects"] * {
    padding: 3px;
}

input[type=text] {
    width: 150px;
}

input[type=email] {
    width: 200px;
}

input[type=submit],
input[type=reset] {
    padding: 4px;
    background-color: #49c6e5;
    border-radius: 10px;
    font-size: 1.4rem;
    border: 3px solid #00bd9d;
}

/*To override inheritance of a grid layout through the main selector.*/
#tutor_application_main,
#tutor_booking_main {
    display: block;
}

#tutor_application_form,
#tutor_booking_form {
    margin: 3px;
}

#tutor_application_form,
#tutor_booking_form,
legend,
input,
textarea,
label {
    margin: 3px;
}

#tutor_booking_main>p {
    font-size: 0.9rem;
    width: fit-content;
    margin: 20px 0 10px;
    padding: 0 10px;
}

#tutor_booking_main a {
    color: inherit;
}

/*centering and sizing heading*/
#tutor_application_main>h3,
#tutor_booking_main>h3 {
    width: fit-content;
    margin: 10px auto 20px;
    font-family: Barlow Semi Condensed, sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

#tutor_booking_form>fieldset>p {
    margin: 0px;
    padding: 0px;
    text-align: left;
}

/*form_response only styling*/

/*Overrides the inherited grid layout, and expands the main setion height by the missing nav height.*/
#submission_form {
    display: block;
    min-height: 55vh;
}

#response {
    text-align: center;
    line-height: 2;
    background-color: #49c6e5;
    border: 3px solid #00bd9d;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    position: absolute;
    top: 40%;
    /*centers the box in a responsive fashion.*/
    left: calc(50% - 128px);
}

#home_button {
    background-color: #00bd9d;
    text-transform: uppercase;
    width: 100px;
    height: 20px;
    margin-top: 20px;
    border-radius: 15px;
}

#response>h2 {
    font-size: large;
    font-family: "Barlow Semi Condensed", sans serif;
    text-transform: uppercase;
    font-weight: 300;

}

#home_button>a {
    text-decoration: none;
    color: inherit;

}

/*Timetable styling only*/

/*Allows the sticky times column to slide over and be seen over the other table columns if and when the table becomes x-scrollable.*/
table * {
    position: relative;
    left: 0px;
    z-index: 0;
}

caption {
    color: #000000;
    margin-top: 5px;
    width: fit-content;
}

.mon_to_fri_table,
.saturday {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    color: #fffbfa;
    background-color: #01748d;
    padding: 5px;
}

/*Makes the table effectively scrollable in the case of overflow in the x-direction. Enables responsivity*/
.table_container {
    overflow-x: scroll;
    padding: 6px;
    margin: 5px;
    box-sizing: border-box;
    width: 100%;
}

/*Makes the times column sticky and also display infront of other columns as it sticks and slides over them when scrolling in the x-direction.*/
.sticky {
    position: sticky;
    left: 0px;
    z-index: 1;
    background-color: #01748d;
}

td[headers],
th[headers],
td[id],
th[id] {
    border: 2px solid #00bd9d;
    border-collapse: collapse;
}

/*Overrides the inherited grid layout*/
#timetable {
    display: block;
}

#table_links {
    padding: 7px;
}

#timetable>h2 {
    width: fit-content;
    margin: 5px auto;
    font-family: Barlow Semi Condensed, sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

#timetable h3 {
    border: none;
    margin: 0;
}

#timetable>p {
    font-size: 0.8rem;
    padding: 10px;
    margin: 5px;
    text-align: justify;
    text-justify: inter-word;
}

.table_bottom_links span {
    margin: 0px 5px;
    font-size: 0.8rem;
    padding: 10px;
}

.table_bottom_links a {
    color: inherit;
    margin: 0 5px;
}

#table_links a {
    color: inherit;
    margin: 8px;
    font-size: 0.8rem;
    /*stops links being split over two lines*/
    display: inline-block;
}

/*FAQ styling only*/

details>a {
    color: inherit;
}

/*Overrides the inherited grid layout*/
#faq_main {
    display: block;
}

/*Sets h4 headings within summary element to have inline display, so that they lie on the same line as the detail element toggles.*/
#faq_main h4 {
    display: inline;
}

#faq_main>section,
#faq_main details {
    margin: 10px;
}

#faq_main>h2 {
    width: fit-content;
    margin: 5px auto;
    font-family: Barlow Semi Condensed, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

#faq_main>p {
    font-size: 0.8rem;
    margin: 5px auto;
    padding: 5px;
    width: fit-content;
    text-align: center;
}

/*more information styling only*/

/*Overrides the inherited grid layout*/
#more_information_main {
    display: block;
}

#more_information_main>h2 {
    font-family: Barlow Semi Condensed, sans-serif;
    font-weight: 300;
    width: fit-content;
    margin: 10px auto;
    font-size: 2rem;
}

#more_information_main h3 {
    margin: 30px auto 20px;
    padding: 0 5px;
    width: fit-content;
    font-size: 1rem;
    border: 1px solid #00bd9d;
    border-radius: 10px;
}

#more_information_main p {
    font-size: 0.8rem;
    margin: 5px auto;
    padding: 10px 20px;
    width: fit-content;
    text-align: justify;
    text-justify: inter-word;
}

#more_information_main picture {
    width: 100%;
    max-height: none;
    display: block;
}

#more_information_main img {
    max-width: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
    max-height: none;
}

#more_information_main a {
    color: inherit;
}

/*Logo and logo container responsive design media queries all pages*/

/*screens of max height 400px*/
@media screen and (max-height: 400px) {
    #logo_container {
        top: calc(50% - 30px);
        left: calc(50% - 70px);
    }

    #logo_container>h1 {
        font-size: 2.5rem;
    }
}

@media screen and (min-height: 400px) and (min-width: 210px) {
    #logo_container>h1 {
        font-size: 3.5rem;
    }
}

@media screen and (min-height: 500px) and (min-width: 260px) {
    #logo_container>h1 {
        font-size: 4rem;
    }

    #logo_container {
        top: calc(50% - 35px);
        left: calc(50% - 100px);
    }
}

@media screen and (min-height: 600px) and (min-width: 305px) {
    #logo_container>h1 {
        font-size: 4.5rem;
    }

    #logo_container {
        top: calc(50% - 42px);
        left: calc(50% - 122px);
    }
}

@media screen and (min-height: 700px) and (min-width: 370px) {
    #logo_container>h1 {
        font-size: 5.5rem;
    }

    #logo_container {
        top: calc(50% - 50px);
        left: calc(50% - 146px);
    }
}

@media screen and (min-height: 1200px) and (min-width: 400px) {
    #logo_container>h1 {
        font-size: 6.5rem;
    }

    #logo_container {
        top: calc(50% - 50px);
        left: calc(50% - 170px);
    }
}



/*Screens of width at least 400px*/

@media screen and (min-width: 400px) {

    /*form pages,timetable and more info page*/

    #tutor_booking_main>h3,
    #tutor_application_main>h3,
    #timetable>h2,
    #more_information_main>h2 {
        font-size: 2.5rem;
    }

    #tutor_booking_main>p,
    #timetable>p,
    .table_bottom_links span,
    #table_links a,
    #more_information_main p {
        font-size: 1rem;
    }

    /*FAQ page*/

    #faq_main>h2 {
        font-size: 2rem;
    }

    #faq_main>p {
        font-size: 0.9rem;
    }

    /*Timetable page*/

    caption {
        text-align: center;
    }

    /*center tables and increase size*/
    .mon_to_fri_table,
    .saturday {
        font-size: 0.95rem;
        margin: 0 auto;
    }

    .table_bottom_links,
    #table_links {
        display: block;
        text-align: center;
    }

    /*more info page*/
    #more_information_main h3 {
        font-size: 1.2rem;
    }
}

/* Screens of width at least 500px*/

@media screen and (min-width: 500px) {

    /*Index.html hero-image*/
    picture[class="second_column first_row"] {
        text-align: center;
    }

    /*Form pages,timetable and more info page*/
    #tutor_booking_main>h3,
    #tutor_application_main>h3,
    #timetable>h2,
    #more_information_main>h2 {
        font-size: 3rem;
    }

    /*FAQ page*/

    #faq_main>h2 {
        font-size: 2.5rem;
    }

    #faq_main>p {
        font-size: 0.95rem;
    }

    /*timetable page*/
    .mon_to_fri_table,
    .saturday {
        font-size: 1.2rem;
    }

}

/*Screens of width at least 600px*/

/*All pages*/

@media screen and (min-width: 600px) {
    main section {
        font-size: 0.9rem;
    }

    footer div,
    nav {
        font-size: 0.85rem;
    }

    /*Form pages, timetable and more info page*/

    #tutor_booking_main>p,
    #timetable>p,
    .table_bottom_links span,
    #table_links a,
    #more_information_main p {
        font-size: 1.2rem;
    }

    #tutor_booking_main>h3,
    #tutor_application_main>h3,
    #timetable>h2,
    #more_information_main>h2 {
        font-size: 3.5rem;
    }

    /*FAQ page*/

    #faq_main>h2 {
        font-size: 3rem;
    }

    #faq_main>p {
        font-size: 1rem;
    }

    /*timetable page*/
    .mon_to_fri_table,
    .saturday {
        font-size: 1.4rem;
    }

     /*more info page*/
     #more_information_main h3 {
        font-size: 1.4rem;
    }

}

/*Screens of at least width 750px*/

@media screen and (min-width: 750px) {

    /*Main, nav and footer all pages*/

    main {
        grid-template-rows: 6fr 4fr;
    }

    nav,
    footer div {
        font-size: 1rem;
    }

    main section {
        font-size: 1rem;
    }

    /*Index.html hero-image*/

    picture[class="second_column first_row"] {
        max-height: 580px;
    }

    picture[class="second_column first_row"]>img {
        max-height: 500px;
    }


    /*Form pages, timetable and more info page*/

    #tutor_booking_main>h3,
    #tutor_application_main>h3,
    #timetable>h2,
    #more_information_main>h2 {
        font-size: 4rem;
    }

    #tutor_booking_main>p,
    #timetable>p,
    .table_bottom_links span,
    #table_links a,
    #more_information_main p {
        font-size: 1.4rem;
    }

    /*FAQ page*/
    #faq_main>p {
        font-size: 1.5rem;
    }

    /*timetable page*/
    .mon_to_fri_table,
    .saturday {
        font-size: 1.8rem;
    }

     /*more info page*/
     #more_information_main h3 {
        font-size: 1.6rem;
    }

}

/*For screens of at least width 910px*/

@media screen and (min-width: 910px) {

    /*Main, nav and footer all pages*/

    nav,
    footer div {
        font-size: 1.2rem;
    }

    main section {
        font-size: 1.1rem;
    }

    /*Form pages and timetable*/

    input[type=submit],
    input[type=reset] {
        font-size: 1.8rem;
    }

    #tutor_booking_main>p,
    #timetable>p,
    .table_bottom_links span,
    #table_links a,
    #more_information_main p {
        font-size: 1.5rem;
    }

    /*FAQ page*/

    #faq_main>h2 {
        font-size: 3.5rem;
    }

    #faq_main>p {
        font-size: 1.6rem;
    }

    /*timetable page*/
    .mon_to_fri_table,
    .saturday {
        font-size: 1.9rem;
    }

     /*more info page*/
     #more_information_main h3 {
        font-size: 1.7rem;
    }
}

/*For screens of at least width 1150px*/

@media screen and (min-width: 1150px) {

    /*Main, nav and footer all pages*/

    nav,
    footer div,
    main section {
        font-size: 1.4rem;
    }

    main section {
        margin-left: 2px;
    }

    main {
        grid-template-rows: 7fr 4fr;
    }

    /*Index.html hero-image*/

    picture[class="second_column first_row"] {
        max-height: 700px;
    }

    picture[class="second_column first_row"]>img {
        max-height: 640px;
    }

    /*Form pages, timetable and more info page*/

    #tutor_booking_main>p,
    #timetable>p,
    .table_bottom_links span,
    #table_links a,
    #more_information_main p {
        font-size: 1.7rem;
    }

    #tutor_booking_main>h3,
    #tutor_application_main>h3,
    #timetable>h2,
    #more_information_main>h2 {
        font-size: 4.5rem;
    }

    /*FAQ page*/

    #faq_main>h2 {
        font-size: 4rem;
    }

    #faq_main>p {
        font-size: 2rem;
    }

    /*timetable page*/
    .mon_to_fri_table,
    .saturday {
        font-size: 2rem;
    }

     /*more info page*/
     #more_information_main h3 {
        font-size: 1.9rem;
    }

}

/*Screens with height or width of at least 1000px*/

/* Change of background image for wider screens with large width:height aspect ratio*/
@media screen and (min-height: 1000px),
(min-width: 1000px) {
    header {
        background: url("../images/maths_on_whiteboard.jpg") center / cover no-repeat, #00bd9d;
    }
}

/*Screens with height or width of at least 1400px*/

@media screen and (min-width: 1400px) {

    /*all pages*/
    nav,
    footer div,
    main section {
        font-size: 1.7rem;
    }

    /*form pages, timetable and more info page*/

    input[type=submit],
    input[type=reset] {
        font-size: 2.5rem;
    }

    #tutor_booking_main>h3,
    #tutor_application_main>h3,
    #timetable>h2,
    #more_information_main>h2 {
        font-size: 5rem;
    }

    #timetable>p,
    #tutor_booking_main>p,
    .table_bottom_links span,
    #table_links a,
    #more_information_main p {
        font-size: 2rem;
    }

    /*FAQ page*/

    #faq_main>h2 {
        font-size: 5rem;
    }

    #faq_main>p {
        font-size: 2.3rem;
    }

    /*timetable page*/
    .mon_to_fri_table,
    .saturday {
        font-size: 2.9rem;
    }

     /*more info page*/
     #more_information_main h3 {
        font-size: 2.2rem;
    }

}